In [103]:
import sys
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.mpl_style = 'default'
import sys
print sys.version
print "Pandas:", pd.version.version

2.7.10 |Anaconda 2.1.0 (x86_64)| (default, May 28 2015, 17:04:42)
[GCC 4.2.1 (Apple Inc. build 5577)]
Pandas: 0.16.0

In [104]:
pd.read_csv("june_airplane_data.csv", header=False).head()

,1994,6,5,7,1542,1540,1819,1815,US,236,...,NA.2,NA.3,0,NA.4,0.1,NA.5,NA.6,NA.7,NA.8,NA.9
0,1994,6,6,1,1549,1540,1831,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994,6,7,2,1540,1540,1803,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994,6,8,3,1541,1540,1808,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994,6,9,4,1541,1540,1835,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994,6,10,5,1548,1540,1821,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [105]:
pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1]

0                  Name
1                  Year
2                 Month
3            DayofMonth
4             DayOfWeek
5               DepTime
6            CRSDepTime
7               ArrTime
8            CRSArrTime
9         UniqueCarrier
10            FlightNum
11              TailNum
12    ActualElapsedTime
13       CRSElapsedTime
14              AirTime
15             ArrDelay
16             DepDelay
17               Origin
18                 Dest
19             Distance
20               TaxiIn
21              TaxiOut
22            Cancelled
23     CancellationCode
24             Diverted
25         CarrierDelay
26         WeatherDelay
27             NASDelay
28        SecurityDelay
29    LateAircraftDelay
Name: 1, dtype: object

In [106]:
df = pd.read_csv("june_airplane_data.csv", names=pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1][1:])

In [107]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1994,6,5,7,1542,1540,1819,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994,6,6,1,1549,1540,1831,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994,6,7,2,1540,1540,1803,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994,6,8,3,1541,1540,1808,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994,6,9,4,1541,1540,1835,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [108]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,65500,65500,65500.000000,65500.000000,64824.000000,65500.000000,64684.000000,65500.000000,65500.000000,0,...,0,0,65500.000000,0,65500.000000,0,0,0,0,0
mean,1994,6,15.477878,3.906000,1366.168765,1357.681908,1493.632444,1492.355908,1116.821695,NaN,...,NaN,NaN,0.010321,NaN,0.002137,NaN,NaN,NaN,NaN,NaN
std,0,0,8.676489,1.930138,456.597647,444.710437,456.366776,439.043425,679.627413,NaN,...,NaN,NaN,0.101066,NaN,0.046183,NaN,NaN,NaN,NaN,NaN
min,1994,6,1.000000,1.000000,1.000000,530.000000,1.000000,510.000000,1.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1994,6,8.000000,2.000000,954.000000,950.000000,1121.000000,1125.000000,527.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
50%,1994,6,15.000000,4.000000,1355.000000,1350.000000,1520.000000,1520.000000,1063.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
75%,1994,6,23.000000,5.000000,1738.000000,1730.000000,1901.000000,1856.000000,1670.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
max,1994,6,30.000000,7.000000,2400.000000,2359.000000,2400.000000,2350.000000,2960.000000,NaN,...,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN

In [109]:
df = pd.read_csv("june_airplane_data.csv", parse_dates={'Date':['Year', 'Month', 'DayofMonth']} , names=pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1][1:])

In [110]:
df.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1994-06-05,7,1542,1540,1819,1815,US,236,NaN,157,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994-06-06,1,1549,1540,1831,1815,US,236,NaN,162,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994-06-07,2,1540,1540,1803,1815,US,236,NaN,143,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994-06-08,3,1541,1540,1808,1815,US,236,NaN,147,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994-06-09,4,1541,1540,1835,1815,US,236,NaN,174,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [111]:
ranges = [0, 600, 1200, 1800, 2400]
labels = ['Early Morning', 'Morning', 'Early Afternoon', 'Evening']

In [112]:
df['DepTime2'] = pd.cut(df.DepTime, ranges, labels=labels).astype('category')

In [113]:
df['ArrTime2'] = pd.cut(df.ArrTime, ranges, labels=labels).astype('category')

In [114]:
df.ArrTime2.head()

0    Evening
1    Evening
2    Evening
3    Evening
4    Evening
Name: ArrTime2, dtype: category
Categories (4, object): [Early Morning < Morning < Early Afternoon < Evening]

In [115]:
df[['DepTime2','ArrTime2']].describe()

               DepTime2         ArrTime2
count             64824            64684
unique                4                4
top     Early Afternoon  Early Afternoon
freq              25786            24925

In [116]:
df.groupby(['DepTime2', 'ArrTime2'])[['DepDelay', 'ArrDelay']].mean()

                                   DepDelay    ArrDelay
DepTime2        ArrTime2
Early Afternoon Early Afternoon    6.303383    4.048539
                Early Morning           NaN         NaN
                Evening           10.225838   12.898035
                Morning                 NaN         NaN
Early Morning   Early Afternoon         NaN         NaN
                Early Morning    220.013158  215.052632
                Evening                 NaN         NaN
                Morning           18.808081   17.424242
Evening         Early Afternoon         NaN         NaN
                Early Morning     94.922840  102.830247
                Evening           19.431305   18.657172
                Morning            5.693642    4.242775
Morning         Early Afternoon    5.496584    3.216251
                Early Morning           NaN         NaN
                Evening            3.358108   11.304054
                Morning            3.644833    0.403784

In [117]:
df.groupby(['DepTime2', 'ArrTime2']).agg({'ArrDelay':[np.mean, np.std], 'DepDelay':[np.mean, np.std]})

                                   DepDelay               ArrDelay
                                       mean        std        mean         std
DepTime2        ArrTime2
Early Morning   Early Morning    220.013158  98.321445  215.052632  101.471296
                Morning           18.808081  30.707533   17.424242   31.324533
Morning         Morning            3.644833  10.133678    0.403784   12.971980
                Early Afternoon    5.496584  15.393651    3.216251   18.100016
                Evening            3.358108   5.636386   11.304054   13.571508
Early Afternoon Early Afternoon    6.303383  14.325964    4.048539   17.229033
                Evening           10.225838  20.056708   12.898035   29.935860
Evening         Early Morning     94.922840  92.210942  102.830247   97.774044
                Morning            5.693642   9.331189    4.242775   14.787932
                Evening           19.431305  35.843905   18.657172   40.409028

In [118]:
df['TotalDelay'] = df.ArrDelay + df.DepDelay

In [119]:
df['ScheduledDepTime'] = pd.cut(df.CRSDepTime, ranges, labels=labels)

In [120]:
def average_delay(dataframe):
    dataframe['AvgFlightDelay'] = dataframe.TotalDelay.mean()
    return dataframe

In [121]:
avg_delayed = df.groupby('FlightNum').apply(average_delay)

In [122]:
avg_delayed.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime2,ArrTime2,TotalDelay,ScheduledDepTime,AvgFlightDelay
0,1994-06-05,7,1542,1540,1819,1815,US,236,NaN,157,...,NaN,NaN,NaN,NaN,NaN,Early Afternoon,Evening,6,Early Afternoon,53.72
1,1994-06-06,1,1549,1540,1831,1815,US,236,NaN,162,...,NaN,NaN,NaN,NaN,NaN,Early Afternoon,Evening,25,Early Afternoon,53.72
2,1994-06-07,2,1540,1540,1803,1815,US,236,NaN,143,...,NaN,NaN,NaN,NaN,NaN,Early Afternoon,Evening,-12,Early Afternoon,53.72
3,1994-06-08,3,1541,1540,1808,1815,US,236,NaN,147,...,NaN,NaN,NaN,NaN,NaN,Early Afternoon,Evening,-6,Early Afternoon,53.72
4,1994-06-09,4,1541,1540,1835,1815,US,236,NaN,174,...,NaN,NaN,NaN,NaN,NaN,Early Afternoon,Evening,21,Early Afternoon,53.72

In [123]:
avg_delayed.tail()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime2,ArrTime2,TotalDelay,ScheduledDepTime,AvgFlightDelay
65495,1994-06-28,2,715,715,805,805,WN,119,NaN,50,...,NaN,NaN,NaN,NaN,NaN,Morning,Morning,0,Morning,0.75
65496,1994-06-30,4,715,715,818,805,WN,119,NaN,63,...,NaN,NaN,NaN,NaN,NaN,Morning,Morning,13,Morning,0.75
65497,1994-06-01,3,815,815,844,845,WN,120,NaN,89,...,NaN,NaN,NaN,NaN,NaN,Morning,Morning,-1,Morning,-1.00
65498,1994-06-02,4,815,815,843,845,WN,120,NaN,88,...,NaN,NaN,NaN,NaN,NaN,Morning,Morning,-2,Morning,-1.00
65499,1994-06-03,5,815,815,845,845,WN,120,NaN,90,...,NaN,NaN,NaN,NaN,NaN,Morning,Morning,0,Morning,-1.00

In [124]:
def ranking(dataframe, column):
    dataframe.sort(column, ascending=False, inplace=True)
    dataframe[column + 'Rank'] = np.arange(len(dataframe)) + 1
    return dataframe

In [125]:
avg_delayed_ranked = avg_delayed.groupby('ScheduledDepTime').apply(lambda x: ranking(x, 'AvgFlightDelay'))

In [126]:
avg_delayed_ranked[avg_delayed_ranked.AvgFlightDelayRank == 1]

,,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime2,ArrTime2,TotalDelay,ScheduledDepTime,AvgFlightDelay,AvgFlightDelayRank
ScheduledDepTime,,,,,,,,,,,,,,,,,,,,,,
Early Morning,32482,1994-06-01,3,531,530,734,735,US,1192,NaN,63,...,NaN,NaN,NaN,NaN,Early Morning,Morning,0,Early Morning,5.153846,1
Morning,60724,1994-06-25,6,1045,1045,1423,1427,US,2843,NaN,158,...,NaN,NaN,NaN,NaN,Morning,Early Afternoon,-4,Morning,84.000000,1
Early Afternoon,60742,1994-06-12,7,1605,1600,1703,1659,US,2849,NaN,58,...,NaN,NaN,NaN,NaN,Early Afternoon,Early Afternoon,9,Early Afternoon,183.333333,1
Evening,60687,1994-06-19,7,1943,1915,2107,2040,US,2835,NaN,84,...,NaN,NaN,NaN,NaN,Evening,Evening,55,Evening,124.333333,1

In [130]:
avg_delayed_ranked[avg_delayed_ranked.AvgFlightDelayRank == 1]

,,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime2,ArrTime2,TotalDelay,ScheduledDepTime,AvgFlightDelay,AvgFlightDelayRank
ScheduledDepTime,,,,,,,,,,,,,,,,,,,,,,
Early Morning,32482,1994-06-01,3,531,530,734,735,US,1192,NaN,63,...,NaN,NaN,NaN,NaN,Early Morning,Morning,0,Early Morning,5.153846,1
Morning,60724,1994-06-25,6,1045,1045,1423,1427,US,2843,NaN,158,...,NaN,NaN,NaN,NaN,Morning,Early Afternoon,-4,Morning,84.000000,1
Early Afternoon,60742,1994-06-12,7,1605,1600,1703,1659,US,2849,NaN,58,...,NaN,NaN,NaN,NaN,Early Afternoon,Early Afternoon,9,Early Afternoon,183.333333,1
Evening,60687,1994-06-19,7,1943,1915,2107,2040,US,2835,NaN,84,...,NaN,NaN,NaN,NaN,Evening,Evening,55,Evening,124.333333,1

In [131]:
zscore = lambda x: (x - x.mean())/x.std()

In [133]:
df.groupby('DayOfWeek').transform(zscore)

,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,TotalDelay
0,0.321882,0.354250,0.654025,0.683318,-1.284652,NaN,1.250200,1.153494,NaN,-0.114548,...,NaN,-0.064707,NaN,-0.049378,NaN,NaN,NaN,NaN,NaN,-0.229395
1,0.404529,0.399894,0.738025,0.723794,-1.310547,NaN,1.319673,1.176553,NaN,0.446337,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,0.305388
2,0.391252,0.407057,0.689783,0.730234,-1.315902,NaN,0.996763,1.167133,NaN,-0.756957,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.579183
3,0.379558,0.404481,0.689328,0.728272,-1.306811,NaN,1.019290,1.175281,NaN,-0.458675,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.393505
4,0.363553,0.405658,0.720185,0.729186,-1.308434,NaN,1.517115,1.172853,NaN,0.190828,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.075297
5,0.379649,0.400625,0.696403,0.722754,-1.322777,NaN,1.147162,1.172651,NaN,-0.120853,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.123095
6,0.499514,0.519247,0.835932,0.853052,-1.292868,NaN,1.122599,1.062539,NaN,-0.239179,...,NaN,-0.082572,NaN,-0.038246,NaN,NaN,NaN,NaN,NaN,-0.345565
7,0.536134,0.354250,0.875455,0.683318,-1.284652,NaN,1.306534,1.153494,NaN,2.320520,...,NaN,-0.064707,NaN,-0.049378,NaN,NaN,NaN,NaN,NaN,2.357019
8,0.386934,0.399894,0.713710,0.723794,-1.310547,NaN,1.263283,1.176553,NaN,-0.056137,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.197058
9,0.393452,0.407057,0.731764,0.730234,-1.315902,NaN,1.339464,1.167133,NaN,0.178990,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.027276
10,0.401178,0.404481,0.740855,0.728272,-1.306811,NaN,1.278640,1.175281,NaN,0.210673,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,0.126189
11,0.382801,0.405658,0.705389,0.729186,-1.308434,NaN,1.220405,1.172853,NaN,0.003627,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.046599
12,0.564241,0.400625,0.906947,0.722754,-1.322777,NaN,1.371303,1.172651,NaN,1.979416,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,1.971135
13,0.504088,0.519247,0.842941,0.853052,-1.292868,NaN,1.140655,1.062539,NaN,-0.082843,...,NaN,-0.082572,NaN,-0.038246,NaN,NaN,NaN,NaN,NaN,-0.202093
14,0.317419,0.354250,NaN,0.683318,-1.284652,NaN,NaN,1.153494,NaN,NaN,...,NaN,-0.064707,NaN,20.249635,NaN,NaN,NaN,NaN,NaN,NaN
15,0.384735,0.399894,0.740236,0.723794,-1.310547,NaN,1.507639,1.176553,NaN,0.492016,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,0.093831
16,0.395651,0.407057,0.751650,0.730234,-1.315902,NaN,1.491775,1.167133,NaN,0.622333,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,0.248678
17,0.377396,0.404481,0.702209,0.728272,-1.306811,NaN,1.148965,1.175281,NaN,-0.291338,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.317080
18,0.365692,0.405658,0.673685,0.729186,-1.308434,NaN,1.090594,1.172853,NaN,-0.397518,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.376631
19,0.375306,0.400625,0.698574,0.722754,-1.322777,NaN,1.203197,1.172651,NaN,-0.084006,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.143627
20,0.499514,0.519247,0.810231,0.853052,-1.292868,NaN,0.923974,1.062539,NaN,-0.812409,...,NaN,-0.082572,NaN,-0.038246,NaN,NaN,NaN,NaN,NaN,-0.661202
21,0.328577,0.354250,0.654025,0.683318,-1.284652,NaN,1.193867,1.153494,NaN,-0.114548,...,NaN,-0.064707,NaN,-0.049378,NaN,NaN,NaN,NaN,NaN,-0.161924
22,0.549685,0.399894,0.751288,0.723794,-1.310547,NaN,0.943742,1.176553,NaN,0.720413,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,1.151613
23,0.397851,0.407057,0.731764,0.730234,-1.315902,NaN,1.301386,1.167133,NaN,0.178990,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,0.027915
24,1.043316,0.404481,1.432178,0.728272,-1.306811,NaN,1.741765,1.175281,NaN,5.844350,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,5.919248
25,1.043641,0.405658,1.593111,0.729186,-1.308434,NaN,2.537056,1.172853,NaN,6.956800,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,6.396204
26,1.633563,1.701512,1.537379,1.611151,-1.305262,NaN,-0.925835,-0.900268,NaN,-0.319228,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.317080
27,1.621073,1.702980,1.536043,1.612010,-1.306885,NaN,-0.745299,-0.899755,NaN,0.083856,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.017900
28,1.626187,1.695735,1.542917,1.604257,-1.321224,NaN,-0.795397,-0.905126,NaN,-0.120853,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.246285
29,1.647564,1.688238,1.557638,1.593657,-1.283302,NaN,-0.815363,-0.901035,NaN,0.463265,...,NaN,-0.064707,NaN,-0.049378,NaN,NaN,NaN,NaN,NaN,0.400340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65470,-1.179608,-1.184768,-1.267943,-1.300183,-1.509186,NaN,-0.851432,-0.810681,NaN,-0.489322,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.492665
65471,-1.124208,-1.111831,-1.257548,-1.236303,-1.443958,NaN,-0.791425,-0.817023,NaN,-0.291291,...,NaN,-0.082572,NaN,-0.038246,NaN,NaN,NaN,NaN,NaN,-0.374259
65472,-1.267151,-1.278736,-1.356740,-1.405791,-1.446770,NaN,-0.759029,-0.807647,NaN,-0.279637,...,NaN,-0.064707,NaN,-0.049378,NaN,NaN,NaN,NaN,NaN,-0.364339
65473,-1.176795,-1.187519,-1.286754,-1.301152,-1.495986,NaN,-0.879526,-0.807854,NaN,-0.512931,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.487948
65474,-1.170358,-1.178971,-1.265641,-1.293471,-1.502819,NaN,-0.811938,-0.806188,NaN,-0.264353,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.303230
65475,-1.157680,-1.183264,-1.221472,-1.297823,-1.492708,NaN,-0.814685,-0.805925,NaN,-0.319228,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.332365
65476,-1.157019,-1.182442,-1.207438,-1.296783,-1.494354,NaN,-0.726755,-0.805545,NaN,-0.263803,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.333583
65477,-1.406319,-1.440434,-1.453345,-1.558159,-1.488060,NaN,-0.685010,-0.805925,NaN,-0.124001,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.225369
65478,-1.402963,-1.439669,-1.463186,-1.557103,-1.489706,NaN,-0.838021,-0.805545,NaN,-0.424261,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.419679
65479,-1.429350,-1.441557,-1.515386,-1.560113,-1.504526,NaN,-0.832754,-0.810681,NaN,-0.452475,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.472133
65480,-1.429719,-1.444635,-1.510010,-1.561341,-1.491350,NaN,-0.616374,-0.807854,NaN,0.126581,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.117725
65481,-1.423295,-1.435863,-1.508688,-1.553500,-1.498146,NaN,-0.716743,-0.806188,NaN,-0.018051,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.165253
65482,-1.402963,-1.439669,-1.454732,-1.557103,-1.489706,NaN,-0.763844,-0.805545,NaN,-0.317289,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.362282
65483,-1.429350,-1.441557,-1.515386,-1.560113,-1.504526,NaN,-0.832754,-0.810681,NaN,-0.452475,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.472133
65484,-1.429719,-1.444635,-1.525483,-1.561341,-1.491350,NaN,-0.747950,-0.807854,NaN,-0.193175,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.302837
65485,-1.423295,-1.435863,-1.517526,-1.553500,-1.498146,NaN,-0.792899,-0.806188,NaN,-0.215093,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.275634
65486,-1.406319,-1.440434,-1.449051,-1.558159,-1.488060,NaN,-0.647960,-0.805925,NaN,-0.068222,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.194799
65487,-1.402963,-1.439669,-1.461073,-1.557103,-1.489706,NaN,-0.819477,-0.805545,NaN,-0.397518,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.405329
65488,-1.429350,-1.441557,-1.508874,-1.560113,-1.504526,NaN,-0.776718,-0.810681,NaN,-0.341934,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.410538
65489,-1.429719,-1.444635,-1.631585,-1.561341,-1.491350,NaN,-0.898323,-0.807854,NaN,-0.558610,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.514393
65490,-1.423295,-1.435863,-1.519736,-1.553500,-1.498146,NaN,-0.811938,-0.806188,NaN,-0.264353,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.303230
65491,-1.406319,-1.440434,-1.470520,-1.558159,-1.488060,NaN,-0.833210,-0.805925,NaN,-0.347117,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.347650
65492,-1.402963,-1.439669,-1.456846,-1.557103,-1.489706,NaN,-0.782388,-0.805545,NaN,-0.344032,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.376631
65493,-1.429350,-1.441557,-1.511044,-1.560113,-1.504526,NaN,-0.795397,-0.810681,NaN,-0.378781,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.431070
65494,-1.429719,-1.444635,-1.532115,-1.561341,-1.491350,NaN,-0.804340,-0.807854,NaN,-0.330213,...,NaN,-0.093674,NaN,-0.052875,NaN,NaN,NaN,NaN,NaN,-0.382170
65495,-1.423295,-1.435863,-1.515317,-1.553500,-1.498146,NaN,-0.773860,-0.806188,NaN,-0.165832,...,NaN,-0.088686,NaN,-0.035040,NaN,NaN,NaN,NaN,NaN,-0.248039
65496,-1.402963,-1.439669,-1.429369,-1.557103,-1.489706,NaN,-0.541311,-0.805545,NaN,0.003627,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.190091
65497,-1.190111,-1.216808,-1.380348,-1.467607,-1.486511,NaN,-0.055160,-0.051180,NaN,-0.291338,...,NaN,-0.130054,NaN,-0.043259,NaN,NaN,NaN,NaN,NaN,-0.317080
65498,-1.189099,-1.215993,-1.376528,-1.466557,-1.488156,NaN,-0.077702,-0.051870,NaN,-0.397518,...,NaN,-0.125628,NaN,-0.057574,NaN,NaN,NaN,NaN,NaN,-0.405329
65499,-1.212183,-1.218262,-1.422052,-1.469703,-1.502972,NaN,-0.029581,-0.055126,NaN,-0.341934,...,NaN,-0.094900,NaN,-0.039553,NaN,NaN,NaN,NaN,NaN,-0.410538