In [12]:
# import packages

import csv
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [13]:
# import data set

shooju_df = pd.read_csv('shooju.csv')

In [14]:
# head of data set 

shooju_df.head()

              INTERVAL          CPNODE    LMP   MLC   MCC
0  2015-11-05T00:00:00  LEPA.HOUMA_G14  19.30  0.53 -1.78
1  2015-11-05T00:00:00  LEPA.HOUMA_G15  19.30  0.53 -1.78
2  2015-11-05T00:00:00  LEPA.HOUMA_G16  19.30  0.53 -1.78
3  2015-11-05T00:00:00       LEPA.LEPA  19.23  0.55 -1.87
4  2015-11-05T00:00:00  LEPA.MGC_CTG01  19.71  1.03 -1.87

In [15]:
# tail of data set

shooju_df.tail()

                   INTERVAL          CPNODE    LMP   MLC    MCC
226942  2015-11-05T08:20:00    EAI.LK_CATH4  17.31 -0.85  -5.31
226943  2015-11-05T08:20:00  EAI.LKCTH1.ARR  17.31 -0.85  -5.31
226944  2015-11-05T08:20:00  EAI.LKCTH3.ARR  17.31 -0.85  -5.31
226945  2015-11-05T08:20:00  EAI.LYNCH2.ARR  12.22 -0.39 -10.86
226946  2015-11-05T08:20:00  EAI.LYNCH3.ARR  12.22 -0.39 -10.86

In [21]:
# find all the unique values in 'interval' column

unique_series = Series.unique(shooju_df.INTERVAL)
unique_series

array(['2015-11-05T00:00:00', '2015-11-05T00:05:00', '2015-11-05T00:10:00',
       '2015-11-05T00:15:00', '2015-11-05T00:20:00', '2015-11-05T00:25:00',
       '2015-11-05T00:30:00', '2015-11-05T00:35:00', '2015-11-05T00:40:00',
       '2015-11-05T00:45:00', '2015-11-05T00:50:00', '2015-11-05T00:55:00',
       '2015-11-05T01:00:00', '2015-11-05T01:05:00', '2015-11-05T01:10:00',
       '2015-11-05T01:15:00', '2015-11-05T01:20:00', '2015-11-05T01:25:00',
       '2015-11-05T01:30:00', '2015-11-05T01:35:00', '2015-11-05T01:40:00',
       '2015-11-05T01:45:00', '2015-11-05T01:50:00', '2015-11-05T01:55:00',
       '2015-11-05T02:00:00', '2015-11-05T02:05:00', '2015-11-05T02:10:00',
       '2015-11-05T02:15:00', '2015-11-05T02:20:00', '2015-11-05T02:25:00',
       '2015-11-05T02:30:00', '2015-11-05T02:35:00', '2015-11-05T02:40:00',
       '2015-11-05T02:45:00', '2015-11-05T02:50:00', '2015-11-05T02:55:00',
       '2015-11-05T03:00:00', '2015-11-05T03:05:00', '2015-11-05T03:10:00',
       '2015-11-05T03:15:00', '2015-11-05T03:20:00', '2015-11-05T03:25:00',
       '2015-11-05T03:30:00', '2015-11-05T03:35:00', '2015-11-05T03:40:00',
       '2015-11-05T03:45:00', '2015-11-05T03:50:00', '2015-11-05T03:55:00',
       '2015-11-05T04:00:00', '2015-11-05T04:05:00', '2015-11-05T04:10:00',
       '2015-11-05T04:15:00', '2015-11-05T04:20:00', '2015-11-05T04:25:00',
       '2015-11-05T04:30:00', '2015-11-05T04:35:00', '2015-11-05T04:40:00',
       '2015-11-05T04:45:00', '2015-11-05T04:50:00', '2015-11-05T04:55:00',
       '2015-11-05T05:00:00', '2015-11-05T05:05:00', '2015-11-05T05:10:00',
       '2015-11-05T05:15:00', '2015-11-05T05:20:00', '2015-11-05T05:25:00',
       '2015-11-05T05:30:00', '2015-11-05T05:35:00', '2015-11-05T05:40:00',
       '2015-11-05T05:45:00', '2015-11-05T05:50:00', '2015-11-05T05:55:00',
       '2015-11-05T06:00:00', '2015-11-05T06:05:00', '2015-11-05T06:10:00',
       '2015-11-05T06:15:00', '2015-11-05T06:20:00', '2015-11-05T06:25:00',
       '2015-11-05T06:30:00', '2015-11-05T06:35:00', '2015-11-05T06:40:00',
       '2015-11-05T06:45:00', '2015-11-05T06:50:00', '2015-11-05T06:55:00',
       '2015-11-05T07:00:00', '2015-11-05T07:05:00', '2015-11-05T07:10:00',
       '2015-11-05T07:15:00', '2015-11-05T07:20:00', '2015-11-05T07:25:00',
       '2015-11-05T07:30:00', '2015-11-05T07:35:00', '2015-11-05T07:40:00',
       '2015-11-05T07:45:00', '2015-11-05T07:50:00', '2015-11-05T07:55:00',
       '2015-11-05T08:00:00', '2015-11-05T08:05:00', '2015-11-05T08:10:00',
       '2015-11-05T08:15:00', '2015-11-05T08:20:00'], dtype=object)

In [23]:
# number of unique values in 'interval' column = 101

len(unique_series)

101